@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');
*{
  font-family: 'Fredoka', sans-serif;
  box-sizing: border-box;
  outline: none;
}

body{
  margin: 0;
  padding: 0;
}